@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../../fonts/Montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
        url('../../fonts/Comfortaa/Comfortaa-Regular.woff2') format('woff2'),
        url('../../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
        url('../../fonts/Comfortaa/Comfortaa-Bold.woff2') format('woff2'),
        url('../../fonts/Comfortaa/Comfortaa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Medium'), local('Comfortaa-Medium'),
        url('../../fonts/Comfortaa/Comfortaa-Medium.woff2') format('woff2'),
        url('../../fonts/Comfortaa/Comfortaa-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}