/**************************/
/*** <colors> ***/
$black: #444;
$white: #FFFAFF;
$gray: #c3c3c3;
$primary: #F6C220;
$secondary: #0075C4;

$caution: #EEAA10;
$success: #8FD694;
$error: #e4433d;
$error_hover: #b83d39;
/*** </colors> ***/
/**************************/


/**************************/
/*** <other variables> ***/
$fontSizeRoot: 16px;
$borderRadius: 10px;
$mainFontFamily: 'Montserrat', sans-serif;
$transition: all 0.3s ease;
/*** </other variables> ***/
/**************************/