@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "mixins";

body {
    background-color: $white;
    display: flex;
    flex-direction: column;
    &.lock {
        overflow: hidden;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: $white;
    z-index: 5;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    &__content {
        @include flex-center-sb;
    }
    &__links {
        @include flex-center;
        gap: 2rem;
        height: 80px;
    }
    &__link {
        height: 100%;
        a {
            @include flex-center;
            height: 100%;
            text-decoration: none;
            font-weight: 500;
            color: $black;
            line-height: 1;
            cursor: pointer;
            gap: 0.25rem;
            border-bottom: 4px solid transparent;
            transition: $transition;
        }
        &--submenu > a i {
            font-size: 1.25rem;
            transition: $transition;
        }
        &:hover > a {
            // color: $primary;
            border-color: $primary;
        }
        &--active > a {
            // color: $primary;
            border-color: $primary;
            font-weight: bold;
        }
        &--submenu {
            &:hover {
                .header__submenu {
                    opacity: 1;
                    width: auto;
                    height: auto;
                    z-index: 2;
                    visibility: visible;
                }
                & > a i {
                    transform: rotate(180deg);
                }
            }
        }
    }
    &__submenu {
        opacity: 0;
        min-width: 400px;
        visibility: hidden;
        z-index: -1;
        position: absolute;
        background-color: $white;
        padding: 1.5rem 0.75rem;
        transition: opacity 0.15s ease;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        &-title {
            font-size: 1rem;
            font-weight: bold;
            margin: 0 0 1.5rem 0;
        }
        ul {
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;
        }
        a {
            color: $black;
            font-size: 0.875rem;
            font-weight: 500;
            border-bottom: none;
            gap: 0.125rem;
            i {
                opacity: 0;
                transition: $transition;
            }
            &:hover {
                color: $black;
                i {
                    opacity: 1;
                }
            }
        }
    }
    &__cart {
        font-size: 0.875rem;
        &-count {
            font-size: 0.875rem;
        }
    }
}

.main {
    padding-top: 80px;
    flex: auto;
}

.home {
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
    &__slider {
        position: absolute;
        &, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            &.position-bottom {
                object-position: bottom;
            }
            &.position-center {
                object-position: center;
            }
            &.position-top {
                object-position: top;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.25);
        z-index: 2;
    }
    & > .container {
        @include flex-center-vert;
        position: relative;
        height: 100%;
    }
    &__content {
        position: relative;
        color: $white;
        z-index: 3;
        max-width: 750px;
        .fade-out {
            opacity: 0;
            transform: translateY(-10px);
        }
    }
    &__title,
    &__caption {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.5s ease, transform 0.5s ease;
        margin: 0;
    }

    &__title {
        font-family: "Comfortaa", cursive;
        margin: 0 0 2rem;
        font-size: 4rem;
        font-weight: bold;
        line-height: 1.125;
    }
    &__caption {
        font-size: 1.25rem;
        color: rgba($color: $white, $alpha: 0.875);
        font-weight: 400;
        margin: 0 0 2rem 0;
        line-height: 1.5;
        max-width: 540px;
    }
    .primary-btn {
        border-radius: 1rem;
        width: 200px;
        height: 3.75rem;
        font-size: 1.25rem;
        &:hover {
            border-color: $white;
        }
    }
}

.popular-excursions {
    &__grid {
        @include grid(3, 1.5rem);
    }
    .primary-btn {
        width: 220px;
        margin: 3rem auto 0 auto;
    }
}

.counters {
    background-color: $primary;
    color: $black;
    p {
        text-align: center;
        font-weight: 500;
        line-height: 1.5;
        max-width: 600px;
        margin: 0 auto 4rem auto;
    }
    &__items {
        @include grid(4, 0);
    }
    &__item {
        @include flex-center-column;
        i {
            font-size: 3rem;
        }
        h3 {
            font-size: 3rem;
            letter-spacing: 1px;
            margin: 1rem 0;
        }
        p {
            font-size: 1.125rem;
            font-weight: 500;
            margin: 0;
        }
    }
}

.gallery {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
        grid-gap: 1.25rem;
    }
    &__image {
        border-radius: 1rem;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
    &__pagination {
        @include flex-center;
        margin-top: 2rem;
        &-btn {
            @include flex-center;
            width: 3rem;
            height: 3rem;
            background-color: $primary;
            color: $black;
            border-radius: 0.75rem;
            font-size: 1.375rem;
            cursor: pointer;
            &:disabled {
                background-color: $gray;
                cursor: not-allowed;
            }
        }
    }
    &__page {
        margin: 0 1rem;
    }
}

.about-us {
    color: $black;
    & > .container {
        height: 100%;
        @include flex-center-column;
        align-items: center;
    }
    &__content {
        @include grid(2, 1rem);
        margin-top: 3rem;
    }
    &__title {
        font-size: 2.5rem;
        margin: 0 0 1.5rem 0;
        font-weight: 500;
        padding-bottom: 1.5rem;
        display: inline-block;
        border-bottom: 2px dashed $primary;
    }
    &__description {
        font-size: 1.125rem;
        line-height: 1.5;
        margin: 0;
    }
    .swiper {
        width: 350px;
        height: 500px;
        &-slide {
            border-radius: 2rem;
            box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }
}

.dance_courses {
    &__navigation {
        @include flex-center-sb;
        justify-content: center;
        margin-bottom: 2rem;
    }
    &__search {
        position: relative;
        i {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            color: $gray;
        }
        input {
            display: block;
            padding: 1rem 1rem 1rem 2.75rem;
            border-radius: 1rem;
            border: 2px solid $gray;
            color: $black;
            line-height: 1;
            width: 800px;
            transition: $transition;
            outline: none;
            &:focus {
                border-color: $primary;
            }
        }
    }
    &__filter-btn {
        @include flex-center;
        width: 3.25rem;
        height: 3.25rem;
        background-color: $primary;
        color: $black;
        border-radius: 0.75rem;
        transition: $transition;
        border: 2px solid $primary;
        cursor: pointer;
        &:hover {
            background-color: transparent;
        }
    }
    &__grid {
        @include grid(3, 2rem 1.5rem);
    }
    &__filters {
        display: none;
        gap: 1rem;
        &--open {
            display: flex;
        }
        &-wrapper {
            display: flex;
            gap: 1rem;
        }
        &-city {
            border-radius: 0.75rem;
            border: 2px solid $primary;
            color: $black;
            padding: 0.75rem 1rem;
            width: 200px;
            height: 3.25rem;
            cursor: pointer;
        }
        &-available {
            @include flex-center;
            width: 175px;
            gap: 0.5rem;
            border-radius: 0.75rem;
            color: $black;
            background-color: $gray;
            padding: 1rem;
            font-weight: 500;
            height: 3.25rem;
            cursor: pointer;
            i {
                display: none;
            }
            &.active {
                background-color: $primary;
                i {
                    display: block;
                }
            }
        }
    }
}

.dance_course {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    &__image {
        position: relative;
        &,
        & > img {
            border-radius: inherit;
        }
    }
    &__price {
        @include flex-center;
        position: absolute;
        top: 1rem;
        left: 0;
        width: 100px;
        padding: 1rem;
        font-weight: bold;
        text-align: center;
        font-size: 1.375rem;
        line-height: 1;
        background-color: $primary;
        border-radius: 0 1rem 1rem 0;
        letter-spacing: 1px;
        box-shadow: 4px 2px 16px rgba($color: #000, $alpha: 0.5);
    }
    &__body {
        padding: 1.25rem 1rem;
        color: $black;

    }
    &__date {
        @include flex-center-vert;
        grid-gap: 0.75rem;
        color: #b7b7b7;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 0.75rem;
    }
    &__title {
        margin: 0 0 0.75rem 0;
        font-size: 1.25rem;
        line-height: 1.375;
        font-weight: bold;
    }
    &__description {
        margin: 0;
        line-height: 1.5;
    }
    &__rating {
        @include flex-center-vert;
        gap: 0.25rem;
        margin-top: 1rem;
        color: $black;
        font-weight: 500;
        i {
            color: $primary;
        }
    }
    &__details {
        @include flex-center-sb;
        margin-top: 1.25rem;
    }
    &__location,
    &__seats {
        @include flex-center;
        grid-gap: 0.375rem;
        line-height: 1;
    }
    &__location {
        font-weight: bold;
    }
    &__register {
        @include flex-center;
        background-color: $primary;
        color: $black;
        font-weight: bold;
        border-radius: 0.75rem;
        border: 2px solid $primary;
        transition: $transition;
        padding: 1rem;
        height: 3.25rem;
        width: 100%;
        margin-top: 1.5rem;
        cursor: pointer;
        &:hover {
            background-color: transparent;
        }
        &:disabled {
            border-color: $gray;
            background-color: $gray;
            cursor: not-allowed;
            font-weight: 400;
        }
    }
    &__message {
        @include flex-center;
        gap: 0.75rem;
        color: $black;
        padding: 1rem;
        height: 3.25rem;
        width: 100%;
        margin-top: 1.5rem;
        font-weight: bold;
        i {
            color: $success;
            font-size: 1.25rem;
        }
    }
}

.contacts {
    &__subtitle {
        font-family: "Comfortaa", cursive;
        color: $black;
        margin: 0 0 1.5rem 0;
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__content {
        @include grid(2, 3rem);
    }
    &__links {
        & > a {
            margin-bottom: 1.5rem;
        }
    }
    &__link {
        @include flex-center-vert;
        gap: 1rem;
        text-decoration: none;
        color: $black;
        font-weight: 500;
        font-size: 1.25rem;
        &-icon {
            @include flex-center;
            width: 4rem;
            height: 4rem;
            border: 2px solid $black;
            border-radius: 50%;
            i {
                font-size: 1.75rem;
            }
        }
    }
    &__map {
        margin-top: 2rem;
        border-radius: 1rem;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        iframe {
            width: 100%;
            height: 350px;
            border-radius: inherit;
        }
    }
    &__social {
        &-link {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            a {
                @include flex-center-vert;
                gap: 1rem;
                text-decoration: none;
                color: $black;
                font-weight: 500;
                font-size: 1.125rem;
                img {
                    width: 3.5rem;
                }
            }
        }
    }
}

.footer {
    background-color: $white;
    padding: 3rem 0;
    color: $black;
    border-top: 1px solid $primary;
    &__grid {
        @include grid(4, 1rem);
    }
    .logo {
        justify-content: flex-start;
    }
    &__caption {
        font-weight: 500;
        margin: 1rem 0;
        font-size: 0.875rem;
        line-height: 1.5;
        opacity: 0.75;
    }
    &__column {
        &-title {
            font-size: 1.25rem;
            margin: 0 0 1rem 0;
        }
    }
    &__link {
        display: block;
        &:not(:last-child) {
            margin-bottom: 0.75rem;
        }

        a {
            @include flex-center-vert;
            text-decoration: none;
            color: $black;
            font-weight: 500;
            font-size: 0.875rem;
            gap: 0.25rem;
        }
    }
    &__contacts {
        &-link {
            display: block;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            & > * {
                @include flex-center-vert;
                text-decoration: none;
                color: $black;
                font-weight: 500;
                font-size: 1rem;
                gap: 0.5rem;
                line-height: 1;
            }
        }
    }
    &__social {
        @include flex-center-vert;
        gap: 1.25rem;
        margin-top: 1.5rem;
        &-link {
            a {
                display: block;
                text-decoration: none;
                img {
                    width: 2rem;
                }
            }
        }
    }
}

.copyright {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #222;
    color: $white;
    line-height: 1;
}

.registration__form {
    color: $black;
    &-title {
        margin: 0 0 2rem 0;
    }
    &-field {
        display: block;
        margin-bottom: 1rem;
        text-align: left;
        input {
            display: block;
            border-radius: 0.75rem;
            padding: 1rem;
            border: 2px solid $gray;
            color: $black;
            margin-top: 0.5rem;
            width: 100%;
            outline: none;
            transition: $transition;
            &:focus {
                border-color: $primary;
            }
        }
    }
    button[type=submit] {
        width: 100%;
    }
}

.my-bookings {
    &__grid {
        @include grid(3, 1rem);
    }
    .excursion {
        &__register {
            display: none;
        }
    }
    .empty {
        text-align: center;
    }
    .calendar {
        max-width: 400px;
        margin: 0 auto 2rem auto;
        &__navigation {
            @include flex-center-sb;
            margin-bottom: 1rem;
            button {
                @include flex-center;
                width: 3rem;
                height: 3rem;
                background-color: $primary;
                border-radius: 50%;
                cursor: pointer;
                font-weight: 500;
                font-size: 0.875rem;
                &:disabled {
                    background-color: #ddd;
                    cursor: not-allowed;
                }
            }
        }
        &__week {
            @include grid(7, 0.5rem);
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
            &.hidden {
                display: none;
            }
        }
        &__day {
            @include flex-center;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            padding: 0.25rem;
            border: 2px solid #ddd;
            &-name {
                text-align: center;
            }
            &.hidden {
                visibility: hidden;
            }
            &.booked {
                background-color: rgba($color: $primary, $alpha: 0.25);
                border-color: $primary;
                font-weight: bold;
                color: $black;
                cursor: pointer;
                &.active {
                    background-color: $primary;
                }
            }
            &.disabled {
                background-color: #ddd;
                color: $black;
                cursor: not-allowed;
            }
        }
    }
}

@import "media";